<div>
<h2>Dashboard</h2>
</div>
    {{#each posts as |post|}}
<div>
    {{> post_info post}}
    <a class="no-button" href="/dashboard/edit/{{post.id}}"><button>Edit Post</button></a>
</div>
{{/each}}
<div>
    <a class="no-button" href="/dashboard/create/"><button>Create Post</button></a>
</div>