<div>
<h2>Dashboard</h2>
</div>
    {{#each posts as |post|}}
<div>
    {{> post_info post}}
    <a href="/dashboard/edit/{{post.id}}"><button class="no-button">Edit Post</button></a>
</div>
{{/each}}
<div>
    <a href="/dashboard/create/"><button class="no-button">Create Post</button></a>
</div>