<h2>
    Edit Post
</h2>
<form class="edit-post">
    <div>
        <label>Title </label>
        <input type="text" id='post-title' value="{{post.title}}"/>
    </div>
    <div>
        <label>Content </label>
        <input type="text" id='post-content' value="{{post.content}}"/>
    </div>
    <button type="submit">Update Post</button>
    <button type="button">Delete</button>
</form>