<h2>
    Edit Post
</h2>
<form class="edit-post">
    <div>
        <label>Title </label>
        <input type="text" id='post-title' value="{{post.title}}"/>
    </div>
    <div>
        <label>Content </label>
        <input type="text" id='post-content' value="{{post.content}}"/>
    </div>
    <div>
        <button class="no-button" type="submit" id="edit-post">Update Post</button>
    </div>
</form>
    <div>
        <button class="no-button" type="button" id="delete-post">Delete</button>
    </div>
<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>