{{> post_info post }}
{{> comments post.comments}}

{{#if logged_in}}
<form class="comment-form">
    <div>
        <textarea id="comment-body"></textarea>
    </div>
    <div>
        <button class="no-button" type="submit">Add Comment</button>
    </div>
</form>
<script src="/js/comment.js"></script>
{{/if}}


